html {
    font-size: 14px;
}

.contact{ /*Default contact form width*/
    width: 60%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 430px) {
    .logo{
        width: 314.75px !important;
        height: 32px !important;
    }
    .col-8{
        width: auto;
    }
    .col-4{
        display: none;
    }
    .menu{
        gap: 0px !important;
    }
    .mobileCart {
        border-radius: 100%;
        width: 80px;
        height: 80px;
        border: none;
        background-color: #e92f3a;
    }
    .mobileCartParent {
        display: flex;
        flex-direction: row-reverse;
        position: sticky;
        bottom: 5px;
        padding-bottom: 20px;
    }

    .successBox{
        width: 90% !important;
    }

}

@media screen and (min-width: 431px){
    .mobileCart{
        display: none;
    }
    .mobileCartParent{
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .cardStyle{
        width: 169px !important;
    }

    .menu{
        justify-content: center;
    }
}

@media screen and (max-width: 576px){
    .navbar-nav {
        gap: 15px;
    }
    .tagline{
        width: 90% !important   ;
    }
}

@media screen and (max-width: 400px) {
    .logo{
        width: 300px !important;
        height: 30px !important;
    }

    .menuBtns{
        font-size: 12px !important;
    }
}

@media screen and (max-width: 384px) {
    .logo {
        width: 280px !important;
        height: 27px !important;
    }
}

@media screen and (max-width: 364px) {
    .logo {
        width: 250px !important;
        height: 23px !important;
    }

    .cardStyle{
        width: 160px !important;
    }
}

@media screen and (max-width: 960px) {
    .homePageMenu{
        gap: 0px !important;
    }
}

@media screen and (max-width: 840px) {
    .homePageMenu {
        gap: 0px !important;
    }

    .contact{
        width: 100%;
    }
}


@media screen and (max-width: 790px) {
    .container-fluid{
        margin: 0px !important;
    }
}

@font-face {
    font-family: "Nunito-ExtraLight";
    src: url("../Font/Nunito-ExtraLight.ttf") format('truetype');
}

.logoFont{
    font-family: SneakersProWide;
}

@font-face{
    font-family: "SneakersProWide";
    src: url("../Font/Sneakers Pro Wide.ttf") format('truetype');
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

h1, h4, p, h6{
    cursor: default;
}

body {
    margin-bottom: 60px;
    background-color: white;
    font-family: Nunito-ExtraLight;
    margin: 0;
}

header, main{

}

.menuBtns {
    border-radius: 40px;
    background-color: #fff2f3;
    color: black;
    border: none;
    width: 18%;
    text-align: center;
    height: 50px;
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    flex-grow: 1;
}

    .menuBtns:hover {
        background-color: #E92F3A;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

.categoriesRow {
    width: 100%;
    margin-right: 4%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 40px;
    padding: 10px;
    background-color: white;
}

.ordersBox {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 120px;
}

.cont:after {
    content: close-quote;
    display: table;
    clear: both;
}

.sticky{
    position: sticky;
    top: 120px;
    z-index: 5;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 40%;

}

.addBtn {
    background-color: #79b791;
    border: none;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

    .addBtn:hover {
        background-color: #6c8976;
    }

.cardStyle {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
}

    .cardStyle:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: box-shadow 0.3s ease-in-out;
        transform: scale(1.1);
    }

.imgStyleAbout{
    width: 100%;
    object-fit: cover;
}

.aboutUsImg{
    width: 50%;
    height: 200px;
}

.aboutUsText {
    width: 50%;
    background-color: #F8F0E3
}

.aboutUs{
    margin-bottom: 100px;
}

.adminCardStyle {
    width: 160px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
}

.input {
    padding: 10px;
}

hr.solid {
    border-top: 3px solid black;
    width: 100%;
    margin: auto;
}

.orderItem {
    display: flex;
    flex-wrap: wrap;
 }

.orderItemBtn {
    border-radius: 50%;
    background-color: white;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLine{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.line {
    padding: 10px;
}

.flexItem{
    margin-right: 10px;
}

.cancelBtn {
    border: none;
    background-color: gray;
    color: white;
}

.modifyBtns{
    justify-content: right;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 15px;
    gap: 10px;
}

.gridBtns {
   display: flex;
   justify-content: space-evenly;
   gap: 10px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 10px;
}

.gridBtnsItem {
    border-radius: 5px;
    background-color: #E92F3A;
    color: white;
    border: none;
    height: 35px;
    transition: box-shadow 0.5s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    flex-grow: 1;
}

    .gridBtnsItem:hover {
        background-color: #e8565f;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

.flavoursForm{
    display: flex;
}

.orderStyle{
    text-align: center;
    width: 250px;
}

.orderDisplay{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.customiseBtn {
    background-color: #554FF1;
    border: none;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    color: white;
    margin-bottom: 5px;
    transition: background-color 0.2s ease-in-out;
}

    .customiseBtn:hover {
        background-color: #6d68e3;
    }

.cardBtns{
    margin-top: 5px;
}

.customiseContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.customiseContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.checkoutContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

    .checkoutContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.noteContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

    .noteContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.deleteContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

    .deleteContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.draftContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

    .draftContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.note {
    text-align: left;
    margin-top: 10px;
}

.orderContainer{
    display: flex;
    gap: 10px;
}

.nextPageBtn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
}

.nextPageBtnFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-left: 90%;
    height: 430px;
}

.exitBtn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    float: right;
    top: -10px;
    right: -10px;
    border: none;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formCustomise {
    text-align: left;
    margin-left: 20px;
    flex-direction: column;
    font-size: 20px;
}

.formCustomise input[type="checkbox"],
.formCustomise label{
    vertical-align: middle;
    display: inline-block;
}

.transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}

.orderItems{
    display: flex;
    flex-direction: column;
}

.FoodTableBtn {
    background-color: #554FF1;
    color: white;
    border: none;
    border-radius: 5px;
}

.popUps {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
    font-size: 20px;
}

.deleteBtn {
    background-color: red;
    border: none;
}

    .deleteBtn:hover {
        background-color: #f24f44;
    }

.imgStyle{
    height: 100%;
    width: 100%;
}

.orderCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;  
}

.carouselBtnPrev {
    left: -80px;
    width: 80px;
}

.carouselBtnNext {
    right: -80px;
    width: 80px;
}

.homePageMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.profilePic{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.loginHover:hover {
    background-color: #f0f4fa;
}

.dropdownAnimation {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.orderRectangle{
    visibility: hidden;
    height: 0;
}


@keyframes growDown {
    0%

{
    transform: scaleY(0)
}

80% {
    transform: scaleY(1.1)
}

100% {
    transform: scaleY(1)
}
}

.card-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.heading {
    padding: 20px;
}

.indicate{
    bottom: -50px;
}

.logo {
    width: 354.75px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    margin-bottom: 35px;
}

.backToTop {
    display: flex;
    justify-content: flex-end;
    right: 80px;
    bottom: 100px;
    background-color: red;
}

.top:hover{
    color: white;
}

.containerStyle{
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 40px;
    margin: 0;
    padding: 0;
}

.hover:hover {
    text-decoration: underline;
}

.carousel-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.editBtn {
    position: absolute;
    right: -25px;
    top: -25px;
    display: none;
}

.cardStyle:hover .editBtn {
    display: inline;
}

.success-animation {
    margin: 25px auto;
}

.checkmark {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position: relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

.successBox {
    width: 60%;
    height: 50%;
    border-radius: 10px;
    margin-top: 80px;
}

.returnBtn {
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 80px;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15PX solid #dddddd;
    border-top-color: black;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn)
    }
}

.counter {
    border-radius: 50%;
    background-color: black;
    z-index: 5;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -8px;
    top: -8px;
    color: white;
    text-align: center;
    line-height: 30px;
}

.footerBtn {
    text-decoration: none;
    color: grey;
}

.footerBtn:hover{
    color: white;
}


