html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@font-face {
    font-family: "Nunito-ExtraLight";
    src: url("../Font/Nunito-ExtraLight.ttf") format('truetype');
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

h1, h4, p, h6{
    cursor: default;
}

body {
    margin-bottom: 60px;
    background-color: #f0f0f0;
    font-family: Nunito-ExtraLight;
}

.menuBtns {
    border-radius: 10px;
    background-color: #eb9534;
    color: white;
    border: none;
    width: 18%;
    text-align: center;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

    .menuBtns:hover {
        background-color: #eda655;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
    }

.categoriesRow {
    width: 100%;
    margin-right: 4%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
}

.ordersBox {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 30px;
}

.cont:after {
    content: close-quote;
    display: table;
    clear: both;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.addBtn {
    background-color: green;
    border: none;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.addBtn:hover{
    background-color: forestgreen;
}

.cardStyle {
    width: 150px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
}

    .cardStyle:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: box-shadow 0.3s ease-in-out;
    }

.column1 {
    width: 66%;
}

.column2 {
    width: 30%;
}

.objects {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input {
    padding: 10px;
}

hr.solid {
    border-top: 3px solid black;
    width: 100%;
    margin: auto;
}

.orderItem {
    display: flex;
    flex-wrap: wrap;
 }

.orderItemBtn {
    border-radius: 50%;
    background-color: white;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLine{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.line {
    padding: 10px;
}

.flexItem{
    margin-right: 10px;
}

.cancelBtn {
    border: none;
    background-color: gray;
    color: white;
}

.modifyBtns{
    justify-content: right;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 15px;
    gap: 10px;
}

.gridBtns {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.gridBtnsItem {
    flex-basis: 48%;
    box-sizing: border-box;
    margin: 1%;
    border-radius: 5px;
    background-color: #eb9534;
    color: white;
    border: none;
    height: 35px;
    transition: box-shadow 0.5s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

    .gridBtnsItem:hover {
        background-color: #eda655;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }

.flavoursForm{
    display: flex;
}

.orderStyle{
    text-align: center;
    width: 250px;
}

.orderDisplay{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.customiseBtn {
    background-color: #349cbf;
    border: none;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    color: white;
    margin-bottom: 5px;
    transition: background-color 0.2s ease-in-out;
}

    .customiseBtn:hover {
        background-color: #46b6db;
    }

.cardBtns{
    margin-top: 5px;
}

.customiseContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.customiseContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.checkoutContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

    .checkoutContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.noteContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

    .noteContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.deleteContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

    .deleteContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.draftContainer {
    position: fixed;
    left: 50%;
    width: 400px;
    z-index: 100;
    background-color: white;
    border-radius: 6px;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    text-align: center;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

    .draftContainer.active {
        position: fixed;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }

.note {
    text-align: left;
    margin-top: 10px;
}

.orderContainer{
    display: flex;
    gap: 10px;
}

.nextPageBtn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
}

.nextPageBtnFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-left: 90%;
    height: 430px;
}

.exitBtn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    float: right;
    top: -10px;
    right: -10px;
    border: none;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formCustomise {
    text-align: left;
    margin-left: 20px;
    flex-direction: column;
    font-size: 20px;
}

.formCustomise input[type="checkbox"],
.formCustomise label{
    vertical-align: middle;
    display: inline-block;
}

.transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}

.orderItems{
    display: flex;
    flex-direction: column;
}

.FoodTableBtn {
    background-color: #eb9534;
    color: white;
    border: none;
    border-radius: 5px;
}

.popUps {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
    font-size: 20px;
}

.deleteBtn {
    background-color: red;
    transition: background-color 0.2s ease-in-out;
}

    .deleteBtn:hover {
        background-color: #f24f44;
    }