@model IEnumerable<TuckshopOrdering.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<div class="navTools">
    <form asp-controller="Orders" asp-action="Index">
        <p>
            <input type="text" name="SearchString" />
        </p>
    </form>
</div>

<div class="card orderStyle">
    <div class="card-body">
        <h4 class="card-title">
            Prinesh Patel
        </h4>
        <h6 class="card-subtitle">
            Rm 23
        </h6>

        <div class="orderItem">
            <p class="flexItem" style="">1x Burger</p> <!--Item quantity and item name-->
            <p class="price">$3.99</p> <!--Item price (dependant on quantity)-->
        </div>
        <div class="orderItem">
            <p class="flexItem" style="">1x Burger</p> <!--Item quantity and item name-->
            <p class="price">$3.99</p> <!--Item price (dependant on quantity)-->
        </div>
        <div class="orderItem">
            <p class="flexItem" style="">1x Burger</p> <!--Item quantity and item name-->
            <p class="price">$3.99</p> <!--Item price (dependant on quantity)-->
        </div>
        <div class="orderItem">
            <p class="flexItem" style="">1x Burger</p> <!--Item quantity and item name-->
            <p class="price">$3.99</p> <!--Item price (dependant on quantity)-->
        </div>
        <p class="orderItem">Total: $14.35</p>
        <div class="line" style="padding: 0;">
            <hr class="solid">
        </div>
        <p>Note: this payment will be made at a later date via internet banking.</p>
        <div class="gridBtns">
            <button class="gridBtnsItem">Edit</button>
            <button class="gridBtnsItem">Print</button>
        </div>
    </div>
</div>

@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}