@model IEnumerable<TuckshopOrdering.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<script>
    function displayCustomise(){
        document.getElementsByClassName("customiseContainer")[0].classList.add("active");
        document.getElementById("objects").style.filter = "blur(1.5rem)";
        document.getElementById("objects").style.pointerEvents = "none";
        document.getElementById("objects").style.userSelect = "none";
        document.body.style.overflow = "hidden";
    }

    function ExitCustomise(){
        document.getElementsByClassName("customiseContainer")[0].classList.remove("active");
        document.getElementById("objects").style.filter = "blur(0)";
        document.getElementById("objects").style.pointerEvents = "auto";
        document.getElementById("objects").style.userSelect = "auto";
        document.body.style.overflow = "auto";
    }

    function DisplayCheckout(){
        document.getElementsByClassName("checkoutContainer")[0].classList.add("active");
        document.getElementById("objects").style.filter = "blur(1.5rem)";
        document.getElementById("objects").style.pointerEvents = "none";
        document.getElementById("objects").style.userSelect = "none";
        document.body.style.overflow = "hidden";
    }

    function ExitCheckout() {
        document.getElementsByClassName("checkoutContainer")[0].classList.remove("active");
        document.getElementById("objects").style.filter = "blur(0)";
        document.getElementById("objects").style.pointerEvents = "auto";
        document.getElementById("objects").style.userSelect = "auto";
        document.body.style.overflow = "auto";
    }

    function DisplayNotes(){
        document.getElementsByClassName("noteContainer")[0].classList.add("active");
        document.getElementById("objects").style.filter = "blur(1.5rem)";
        document.getElementById("objects").style.pointerEvents = "none";
        document.getElementById("objects").style.userSelect = "none";
        document.body.style.overflow = "hidden";
    }

    function ExitNotes(){
        document.getElementsByClassName("noteContainer")[0].classList.remove("active");
        document.getElementById("objects").style.filter = "blur(0)";
        document.getElementById("objects").style.pointerEvents = "auto";
        document.getElementById("objects").style.userSelect = "auto";
        document.body.style.overflow = "auto";
    }

    function DisplayDelete() {
        document.getElementsByClassName("deleteContainer")[0].classList.add("active");
        document.getElementById("objects").style.filter = "blur(1.5rem)";
        document.getElementById("objects").style.pointerEvents = "none";
        document.getElementById("objects").style.userSelect = "none";
        document.body.style.overflow = "hidden";
    }

    function ExitDelete() {
        document.getElementsByClassName("deleteContainer")[0].classList.remove("active");
        document.getElementById("objects").style.filter = "blur(0)";
        document.getElementById("objects").style.pointerEvents = "auto";
        document.getElementById("objects").style.userSelect = "auto";
        document.body.style.overflow = "auto";
    }

    function DisplayDraft() {
        document.getElementsByClassName("draftContainer")[0].classList.add("active");
        document.getElementById("objects").style.filter = "blur(1.5rem)";
        document.getElementById("objects").style.pointerEvents = "none";
        document.getElementById("objects").style.userSelect = "none";
        document.body.style.overflow = "hidden";
    }

    function ExitDraft() {
        document.getElementsByClassName("draftContainer")[0].classList.remove("active");
        document.getElementById("objects").style.filter = "blur(0)";
        document.getElementById("objects").style.pointerEvents = "auto";
        document.getElementById("objects").style.userSelect = "auto";
        document.body.style.overflow = "auto";
    }

</script>

<div class="objects" id="objects">
    <div class="column1">
        <div class="container">
            <div class="categoriesRow">
                <button class="menuBtns">Hot Food</button>
                <button class="menuBtns">Sandwiches</button>
                <button class="menuBtns">Snacks</button>
                <button class="menuBtns">Hot Snacks</button>
                <button class="menuBtns">Drinks</button>
            </div>
        </div>

        <h1 style="padding: 10px;">Burgers</h1>

        <div class="menu">

            @for (int i = 0; i < 25; i++)
            {
                <div class="card cardStyle">
                    <div class="card-body">
                        <div class="card-img">
                            <img style="width:100%;" src="~/images/burger.jpg" alt="burger" />
                        </div>
                        <h4 class="card-title">
                            Burger
                        </h4>
                        <h6 class="card-subtitle">
                            $3.99
                        </h6>
                        <div class="cardBtns">
                            <button class="customiseBtn" onclick="displayCustomise()">Customise</button>
                            <button class="addBtn">Add</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="column2">
        <div class="ordersBox">
            <h1 style="text-align: center; padding: 10px;">Order:</h1>
                <form>
                    <div class="formLine">
                        <label>Student Name:</label> <!--Customer name from customers db-->
                        <input type="text" />
                    </div>
                    <div class="formLine">
                        <label>Room Number:</label> <!--Customers room from customers db-->
                        <input type="text" />
                    </div>
                </form>
            <div class="line">
                <hr class="solid">
            </div>

            <!--Repeatable orders code-->

            <div class="orderItems">
                <div class="orderItem">
                    <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                    <div class="modifyBtns">
                        <button class="orderItemBtn">-</button>
                        <button class="orderItemBtn">+</button>
                        <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                        <button class="orderItemBtn cancelBtn">X</button>
                    </div>
                </div>

                <div class="orderItem">
                    <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                    <div class="modifyBtns">
                        <button class="orderItemBtn">-</button>
                        <button class="orderItemBtn">+</button>
                        <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                        <button class="orderItemBtn cancelBtn">X</button>
                    </div>
                </div>

                <div class="orderItem">
                    <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                    <div class="modifyBtns">
                        <button class="orderItemBtn">-</button>
                        <button class="orderItemBtn">+</button>
                        <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                        <button class="orderItemBtn cancelBtn">X</button>
                    </div>
                </div>

                <div class="orderItem">
                    <p class="flexItem" style="margin-left: 20px;">1x Hotdog (N/C)</p> <!--Item quantity and item name-->
                    <div class="modifyBtns">
                        <button class="orderItemBtn">-</button>
                        <button class="orderItemBtn">+</button>
                        <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                        <button class="orderItemBtn cancelBtn">X</button>
                    </div>
                </div>

            </div>

                <p style="margin-left: 20px; font-weight: bold;">Total Price: $15.96</p>

                <div class="gridBtns">
                    <button class="gridBtnsItem" onclick="DisplayCheckout()">Checkout</button>
                    <button class="gridBtnsItem" onclick="DisplayNotes()">Notes</button>
                    <button class="gridBtnsItem" onclick="DisplayDraft()">Draft</button>
                    <button class="gridBtnsItem" onclick="DisplayDelete()">Delete</button>
                </div>
        </div>
    </div>
</div>

<!--Customise-->

<div class="customiseContainer">
    <button class="exitBtn" onclick="ExitCustomise()">X</button>
    <h1 style="margin-top: 15px; margin-bottom: 0;">Customise Burger:</h1>
    <div class="line">
        <hr class="solid">
    </div>
    <form class="formCustomise">
        <input type="checkbox" id="TomatoSauce" />
        <label for="TomatoSauce" >Tomato Sauce</label><br />
        <input type="checkbox" id="TomatoSauce" />
        <label for="TomatoSauce">Tomato Sauce</label><br />
        <input type="checkbox" id="TomatoSauce" />
        <label for="TomatoSauce">Tomato Sauce</label><br />
        <input type="checkbox" id="TomatoSauce" />
        <label for="TomatoSauce" >Tomato Sauce</label><br />
        <input type="checkbox" id="TomatoSauce" />
        <label for="TomatoSauce">Tomato Sauce</label><br />
    </form>
    <button class="addBtn popUps">Add</button>
</div>

<!--Checkout-->

<div class="checkoutContainer">
    <button class="exitBtn" onclick="ExitCheckout()">X</button>
    <h1 style="margin-top: 15px; margin-bottom: 0;">Confirm Checkout?</h1>
    <div class="line">
        <hr class="solid">
    </div>
    
    <div style="text-align: left; margin-left: 20px; font-weight: bold;">
        <p style="margin-bottom: 0;">Student: Prinesh Patel</p>
        <p>Room: 23</p>
    </div>

    <div class="orderItems">
        <div class="orderItem">
            <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
            <div class="modifyBtns">
                <button class="orderItemBtn">-</button>
                <button class="orderItemBtn">+</button>
                <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                <button class="orderItemBtn cancelBtn">X</button>
            </div>
        </div>

        <div class="orderItem">
            <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
            <div class="modifyBtns">
                <button class="orderItemBtn">-</button>
                <button class="orderItemBtn">+</button>
                <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                <button class="orderItemBtn cancelBtn">X</button>
            </div>
        </div>

        <div class="orderItem">
            <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
            <div class="modifyBtns">
                <button class="orderItemBtn">-</button>
                <button class="orderItemBtn">+</button>
                <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                <button class="orderItemBtn cancelBtn">X</button>
            </div>
        </div>

        <div class="orderItem">
            <p class="flexItem" style="margin-left: 20px;">1x Hotdog (N/C)</p> <!--Item quantity and item name-->
            <div class="modifyBtns">
                <button class="orderItemBtn">-</button>
                <button class="orderItemBtn">+</button>
                <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                <button class="orderItemBtn cancelBtn">X</button>
            </div>
        </div>

    </div>

    <button class="addBtn popUps">Confirm and Print</button>
</div>

<!--Notes-->

<div class="noteContainer">
    <button class="exitBtn" onclick="ExitNotes()">X</button>
    <h1 style="margin-top: 15px; margin-bottom: 0;">Add Note:</h1>
    <div class="line">
        <hr class="solid">
    </div>
    <form>
        <input type="text" style="width: 90%;"/>
    </form>
    <button class="addBtn popUps">Add</button>
</div>

<!--Delete-->

<div class="deleteContainer">
    <button class="exitBtn" onclick="ExitDelete()">X</button>
    <h1 style="margin-top: 15px; margin-bottom: 0;">Delete Order?</h1>
    <div class="line">
        <hr class="solid">
    </div>
    <p style="font-weight: bold;">WARNING! This will permanently delete the order</p>
    <button class="addBtn popUps deleteBtn">Delete</button>
</div>

<!--Draft-->

<div class="draftContainer">
    <button class="exitBtn" onclick="ExitDraft()">X</button>
    <h1 style="margin-top: 15px; margin-bottom: 0;">Save as Draft?</h1>
    <div class="line">
        <hr class="solid">
    </div>

    <div style="text-align: left; margin-left: 20px; font-weight: bold;">
        <p style="margin-bottom: 0;">Student: Prinesh Patel</p>
        <p>Room: 23</p>
    </div>

    <div class="orderItems">
        <div class="orderItem">
            <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
            <div class="modifyBtns">
                <button class="orderItemBtn">-</button>
                <button class="orderItemBtn">+</button>
                <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                <button class="orderItemBtn cancelBtn">X</button>
            </div>
        </div>

        <div class="orderItem">
            <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
            <div class="modifyBtns">
                <button class="orderItemBtn">-</button>
                <button class="orderItemBtn">+</button>
                <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                <button class="orderItemBtn cancelBtn">X</button>
            </div>
        </div>

        <div class="orderItem">
            <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
            <div class="modifyBtns">
                <button class="orderItemBtn">-</button>
                <button class="orderItemBtn">+</button>
                <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                <button class="orderItemBtn cancelBtn">X</button>
            </div>
        </div>

        <div class="orderItem">
            <p class="flexItem" style="margin-left: 20px;">1x Hotdog (N/C)</p> <!--Item quantity and item name-->
            <div class="modifyBtns">
                <button class="orderItemBtn">-</button>
                <button class="orderItemBtn">+</button>
                <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                <button class="orderItemBtn cancelBtn">X</button>
            </div>
        </div>

    </div>

    <button class="addBtn popUps">Save Draft</button>
</div>


<!--These card divs repeating will not be apart of the final project, this is just a represenation of what it will look like-->
<!--Card code will go in the foreach loop method below...-->

@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MenuID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MenuID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MenuID">Delete</a>
            </td>
        </tr>
}
