@model IEnumerable<TuckshopOrdering.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="orderRectangle">
                <p>Your order ^</p>
            </div>
            <div class="container sticky">
                <div class="categoriesRow">
                    <button class="menuBtns">Hot Food</button>
                    <button class="menuBtns">Sandwiches</button>
                    <button class="menuBtns">Snacks</button>
                    <button class="menuBtns">Hot Snacks</button>
                    <button class="menuBtns">Drinks</button>
                </div>
            </div>

            <h1 class="heading">Hot Food</h1>

            <div class="menu">

                @for (int i = 0; i < 24; i++)
                {
                    <div class="card cardStyle">
                        <div class="card-body">
                            <div class="card-img">
                                <img style="width:100%; border-radius: 10px;" src="/Images/Hambúrguer saboroso isolado no fundo branco fastfood de hambúrguer fresco com carne e queijo _ Foto Grátis.jpg" alt="burger" />
                            </div>
                            <h4 class="card-title title">
                                Burger
                            </h4>
                            <h6 class="card-subtitle subtitle">
                                $3.99
                            </h6>
                            <div class="cardBtns">
                                <button type="button" class="customiseBtn" data-bs-toggle="modal" data-bs-target="#customiseModal">Customise</button>
                                <button class="addBtn">Add</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-4">
            <div class="ordersBox">
                <h1 style="text-align: center; padding: 10px;">Order:</h1>
                <form>
                    <div class="formLine">
                        <label>Student Name:</label> <!--Customer name from customers db-->
                        <input type="text" />
                    </div>
                    <div class="formLine">
                        <label>Room Number:</label> <!--Customers room from customers db-->
                        <input type="text" />
                    </div>
                </form>
                <div class="line">
                    <hr class="solid">
                </div>

                <!--Repeatable orders code-->

                <div class="orderItems">
                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <button class="orderItemBtn">-</button>
                            <button class="orderItemBtn">+</button>
                            <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                            <button class="orderItemBtn cancelBtn">X</button>
                        </div>
                    </div>

                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <button class="orderItemBtn">-</button>
                            <button class="orderItemBtn">+</button>
                            <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                            <button class="orderItemBtn cancelBtn">X</button>
                        </div>
                    </div>

                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <button class="orderItemBtn">-</button>
                            <button class="orderItemBtn">+</button>
                            <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                            <button class="orderItemBtn cancelBtn">X</button>
                        </div>
                    </div>

                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">1x Hotdog (N/C)</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <button class="orderItemBtn">-</button>
                            <button class="orderItemBtn">+</button>
                            <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                            <button class="orderItemBtn cancelBtn">X</button>
                        </div>
                    </div>

                </div>

                <p style="margin-left: 20px; font-weight: bold;">Total Price: $15.96</p>

                <div class="gridBtns">
                    <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#checkoutModal">Checkout</button>
                    <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#noteModal">Notes</button>
                    <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row-reverse;">
        <!--Back to top button-->
        <a href="#" class="top">Back to top ^</a>
    </div>
</div>

<!--Customise-->

<div class="modal fade" id="customiseModal" tabindex="-1" aria-labelledby="customiseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customise</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="formCustomise">
                    <input type="checkbox" class="form-check-input" id="TomatoSauce" />
                    <label for="TomatoSauce" class="form-check-label">Tomato Sauce</label><br />
                    <input type="checkbox" class="form-check-input" id="TomatoSauce" />
                    <label for="TomatoSauce" class="form-check-label">Tomato Sauce</label><br />
                    <input type="checkbox" class="form-check-input" id="TomatoSauce" />
                    <label for="TomatoSauce" class="form-check-label">Tomato Sauce</label><br />
                    <input type="checkbox" class="form-check-input" id="TomatoSauce" />
                    <label for="TomatoSauce" class="form-check-label">Tomato Sauce</label><br />
                    <input type="checkbox" class="form-check-input" id="TomatoSauce" />
                    <label for="TomatoSauce" class="form-check-label">Tomato Sauce</label><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Checkout-->

<div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Checkout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="text-align: left; margin-left: 20px; font-weight: bold;">
                    <p style="margin-bottom: 0;">Student: Prinesh Patel</p>
                    <p>Room: 23</p>
                </div>

                <div class="orderItems">
                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <button class="orderItemBtn">-</button>
                            <button class="orderItemBtn">+</button>
                            <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                            <button class="orderItemBtn cancelBtn">X</button>
                        </div>
                    </div>

                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <button class="orderItemBtn">-</button>
                            <button class="orderItemBtn">+</button>
                            <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                            <button class="orderItemBtn cancelBtn">X</button>
                        </div>
                    </div>

                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">1x Burger</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <button class="orderItemBtn">-</button>
                            <button class="orderItemBtn">+</button>
                            <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                            <button class="orderItemBtn cancelBtn">X</button>
                        </div>
                    </div>

                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">1x Hotdog (N/C)</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <button class="orderItemBtn">-</button>
                            <button class="orderItemBtn">+</button>
                            <p>$3.99</p>                                  <!--Item price (dependant on quantity)-->
                            <button class="orderItemBtn cancelBtn">X</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Checkout and Print</button>
            </div>
        </div>
    </div>
</div>

<!--Notes-->

<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form style="display: flex; justify-content: center;">
                    <textarea class="form-control" rows="3" style="width: 95%;"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save note</button>
            </div>
        </div>
    </div>
</div>

<!--Delete-->

<div class="deleteContainer">
    <button class="exitBtn" onclick="ExitDelete()">X</button>
    <h1 style="margin-top: 15px; margin-bottom: 0;">Delete Order?</h1>
    <div class="line">
        <hr class="solid">
    </div>
    <p style="font-weight: bold; margin-bottom: 0;">WARNING! This will permanently delete the order</p>
    <button class="addBtn popUps deleteBtn">Delete</button>
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="font-weight: bold; margin-bottom: 0;">WARNING! This will permanently delete the order</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary deleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

<!--These card divs repeating will not be apart of the final project, this is just a represenation of what it will look like-->
<!--Card code will go in the foreach loop method below...-->

@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MenuID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MenuID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MenuID">Delete</a>
            </td>
        </tr>
}
