<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TuckshopOrdering</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TuckshopOrdering.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/Images/Favicon_1.png" />
    <link rel="stylesheet" href="https://use.typekit.net/uyt3mwx.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header style="position: sticky; top: 0; z-index: 99;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="height: 100px; border: none;">
            <div class="container-fluid" style="margin: 80px;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Images/The Tuckshop Logo_Landscape_Red.png" class="logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="display: flex; flex-direction: row-reverse; font-size: 18px;">
                        <li class="nav-item">
                            <a class="nav-link hover text-dark" asp-area="" asp-controller="Menus" asp-action="Index" style="font-weight: bold;">Order Now</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>                                           
                    </ul>
                    @*<partial name="_LoginPartial" />*@
                </div>
            </div>
        </nav>
    </header>
    <div class="containerStyle" style="margin-top: -16px; padding: 0; margin-bottom: 50px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #1E1C1C;">
        <div class="container" style="text-align: center">
            <div style="display: flex; justify-content: center; gap: 20px;">
                <a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none; color: grey;">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy" style="text-decoration: none; color: grey;">Privacy</a>
                <a asp-area="" asp-controller="Home" asp-action="FAQ" style="text-decoration: none; color: grey;">FAQ</a>
                <a asp-area="" asp-controller="Categories" asp-action="Index" style="text-decoration: none; color: grey;">Categories</a>
                <a asp-area="" asp-controller="Menus" asp-action="Index" style="text-decoration: none; color: grey;">Menu</a>
                <a asp-area="" asp-controller="Orders" asp-action="Index" style="text-decoration: none; color: grey;">Orders</a>
            </div>
            Copyright &copy2024 - The Tuckshop
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
